<html>
  <head>
	<title> Assinador Digital </title>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/estilos.css') }}">
	</head>

	<body>
		<h1>Assinador Digital</h1>
		<h2>Olá, Verifique a autenticidade do seu documento:
			<div>{{name}}</div>
		</h2>
		<form enctype="multipart/form-data" method="POST" action="/verifypdf" id="redirect">
			<input type="file" name="file" accept="application/pdf">
		</form>

	</body>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="https://unpkg.com/pdf-lib@1.16.0/dist/pdf-lib.min.js"></script>

	<script> 
	function OnLoadFile(){
  		console.log("funcionou")
  		setTimeout(function(){ document.getElementById("redirect").submit() }, 3000); 
	}
	$("input[type=file]").on("change",OnLoadFile); 
	</script>

</html>